body {
    font-size: 26px;
    background-color: #fff;
    color: black;
    text-align: center;
  }

.calculadora{
    padding-top: 20px;
    text-align: center;
}

.teclas {
    margin-left: auto;
    margin-right: auto;
}

button {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 2px;
}

#result {
    background: #BCCD95;   
    font-size: 2em;
    text-align: right;
    color:black;
    width: 250px;
    border: 1px solid black;
    padding-bottom: 10px;
}

footer {
    display: block;
    text-align: center;
    padding-top: 50px;
}