/** Main, párrafo principal **/

/* a=0 b=0 c=2 -> 2 */
main section {
    order: 1;
	flex:1; 
}

/** Tabla de temporadas **/

/* a=0 b=1 c=0 -> 10 */
.content-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    min-width: 40%;
    font-size: 16px;
    border-collapse: collapse;
    padding: 30px;
}

/* a=0 b=1 c=2 -> 12 */
.content-table thead tr{
    background-color: #574141;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/* a=0 b=1 c=3 -> 13 */
.content-table thead tr th{
    padding: 5px 0px;;
}

/* a=0 b=1 c=2 -> 12 */
.content-table tbody tr{
    border-bottom: 1px solid #574141;
}

/* a=0 b=2 c=3 -> 23 */
.content-table tbody tr:nth-of-type(even){
    background-color: #BFA5A5;
    color: inherit;
}

/* a=0 b=2 c=2 -> 22 */
.content-table tbody tr:last-of-type{
    border-bottom: 3px solid #574141;
}

/* a=0 b=1 c=2 -> 12 */
.content-table tbody td{
    padding: 8px 10px;
}