body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: #56423D;
    background-color: #f6f6f6;
}
h1 {
    background-color:##7f3c3c; 
    color: #fff;
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;     
}