body {
    flex-flow: row wrap;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 1.8;
    color: #101816;
    background: linear-gradient(90deg, rgba(94, 81, 212, 0.89),rgb(26, 7, 110)); 
    background-color: inherit;
    padding: 0% 2% 1% 2%; 
}

h1 {
    color: #ffffff;
    background-color: inherit;
    font-family: Tahoma, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 100px 25px;
    text-align: center;
}

p {
    color: #ffffff;
    background-color: inherit;
    font-size: 16px;
    text-align: left;
}


#descargar {
    text-align: center;
    color: #ccc;
    background: transparent;
    width: 150px;
    height: 40px;
    border: 1px solid #b9b9ff;
    border-radius: 4px;
    font-size: 18px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

#subirArchivos {
    color: white;
    background: transparent;
    font-size: 14px;
    margin-left: 20px;
}


#descargar:hover {
    background: #816fc9c7;
    color: #ffffff;
    cursor: pointer;
}

#descargar:focus {
    color: #ffffff;
    background: #5539c4c7;
}

#descargar:disabled {
    background: #aaaaaa;
    color: rgb(65, 65, 65);
    cursor: unset;
}

.aviso {
    color: #ffe600;
    background: transparent;
}

.canvas__container {
    height: 100%;
    position: relative;
    width: 100%;
    padding-top: 50px;
  }
.canvas__canvas {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }
.canvas__mirror {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
    transform: scaleX(-1);
  }

.warning {
      font-size: 30px;
      font-weight: bold;
  }

#cargar {
    padding: 30px;
}

#filedrag
{
    font-weight: bold;
    font-size: 15px;
	text-align: center;
	padding: 1em;
	margin: 10px;
    color: #f3d5ff;
    background-color: transparent;
	border: 2px dashed #c5addb;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
    background-color: transparent;
	color: #555;
	border-color: #555;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}