body {
    flex-flow: row wrap;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 1.8;
    color: #101816;
    background: linear-gradient(90deg, rgba(94, 81, 212, 0.89),rgb(26, 7, 110)); 
    background-color: inherit;
    padding: 0% 2% 1% 2%; 
}

h1 {
    color: #fff;
    background-color: inherit;
    font-family: Tahoma, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 100px 25px;
    text-align: center;
}

h2 {
    color: #e9fffd;
    background-color: inherit;
    font-size: 20px;
    text-align: center;
    padding-left: 35px;
    padding-bottom: 20px;
}

#search {
    padding: 40px;
    text-align: center;
}

#lblat, #lblng {
    padding: 50px;
    color: white;
    background: transparent;
    font-size: 16px;
}

#lat, #lng {
    width: 200px;
    height: 25px;
}

#lat::placeholder, #lng::placeholder {
    padding-left: 10px;
    font-size: 14px;
}

.btn {
    text-align: center;
    color: #ccc;
    background: transparent;
    width: 150px;
    height: 40px;
    border: 1px solid #b9b9ff;
    border-radius: 4px;
    font-size: 18px;
}

.btn:hover {
    background: #816fc9c7;
    color: #ffffff;
    cursor: pointer;
}

.btn:focus {
    color: #ffffff;
    background: #5539c4c7;
}

#mapa {
    height: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}
#search {
    display: block;
}